/* page setup */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

#root {
    background-size: cover;
    flex-grow: 1;
    background-color: #616161;
}