@import "../../colors";

.question-card-component {
  background: $red;
  background: $red;
  color: $charcoal;
  border: 2px solid white;

  width: 50%;
  border-radius: 10px;
  margin: 5% auto;
}

.question-text {
  font-size: 30px;
  padding: 15px 5px;
  margin: 20px auto;
  border-radius: 5px;
  background: $white;
}