@import "../../../colors";

.option {
  display: inline-block;
  color: $white;
  background: $light-orange;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.option:hover {
  background: $orange-red;
  color: $white;
}

.option:active {
  background-color: $dark-charcoal;
}

.selected {
  background: $charcoal;
  color: $white;
}

